@use "sass:map";
@use "sass:string";
@use "sass:math";

@function rem($sizeInPx) {
    $remSize: math.div($sizeInPx, 16px);
   @return #{$remSize}rem;
}

$fonts: (
  "main": $font-main,
  "secondary": $font-secondary,
  );
@mixin text(
  $font-size: 18px,
  $font-weight: 300,
  $color: black,
  $line-height: initial,
) {
  font-weight: $font-weight;
  color: $color;
  font-size: rem($font-size);

  @if (string.index(#{$line-height}, "px")) {
      line-height: rem($line-height);
      } @else {
      line-height: $line-height;
    }
}

@mixin font-family($type) {
  font-family: map-get($fonts, $type);
}