.about {
  @extend .container;
  margin-top: 150px;
  margin-bottom: 120px;
}

.about__wrapper {
  position: relative;
  width: 100%;
}

.info-list {
  width: 100%;
}

.info-list__item {
  padding-top: 40px;
  padding-left: 100px;
  list-style: none;
}

.item-heading {
  @include text(68px, 400, $main-color, 72px);
  @include font-family("secondary");
}

.item-text {
  @include text(18px, 300, $main-color, 26px);
  @include font-family("main");
}

.info-text {
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 400px;
  @include text(18px, 300, $main-color, 26px);
  @include font-family("main");
}

.right-section {
  width: 770px;
  height: 580px;
  display: flex;
  gap: 40px;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.908);
}
