.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 30px;
  width: 100%;
  backdrop-filter: blur(15px);
  margin-bottom: 150px;
  padding-left: 135px;
  padding-right: 135px;
}

.list-items {
  text-decoration: none;
  display: inline-block;
}

.navigation {
  &__list-items {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
  }
  &__list-item {
    @include text(14px, 400, black, 24px);
    @include font-family("main");
  }
}

.navigation__list-item:hover {
  border-bottom: 3px solid rgba(241, 137, 123, 1);
}
